.hero {
  --marginBottomBodyElements: 55px;

  padding-top: 90px;
  padding-bottom: 50px;

  &__inner {
    display: flex;
    column-gap: 155px;
    align-items: center;
    justify-content: center;

    @include desktop {
      column-gap: 70px;
    }

    @include mobile {
      flex-direction: column-reverse;
    }
  }

  &__body {
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
  }

  &__title {
    position: relative;
    @include fluid-text(80, 48);
    font-weight: 800;
    white-space: nowrap;
    line-height: 1.09;
    margin-bottom: var(--marginBottomBodyElements);

    &::before {
      position: absolute;
      content: "";
      width: 324px;
      height: 324px;
      border-radius: 324px;
      background: linear-gradient(
        267deg,
        rgba(35, 114, 73, 0.11) 3.05%,
        rgba(53, 198, 107, 0.15) 40.73%
      );
      filter: blur(87.75px);
      z-index: -1;
      top: -7%;
      left: -9%;

      @include mobile {
        width: 172px;
        height: 104px;
        background: linear-gradient(
          244.98deg,
          rgba(35.259639739990234, 113.67274475097656, 73.06596374511719, 0.11),
          rgba(53.062068939208984, 197.61024475097656, 107.04993438720703, 0.15)
            52%
        );
        top: 33%;
        left: 45%;
      }
    }

    @include tablet {
      --marginBottomBodyElements: 35px;
    }
  }

  &__description {
    @include fluid-text(20, 12);
    max-width: 570px;
    line-height: 24px;
    letter-spacing: -2%;
    margin-bottom: var(--marginBottomBodyElements);

    @include tablet {
      --marginBottomBodyElements: 35px;
    }
  }

  &__actions {
    display: flex;
    align-items: end;
    column-gap: 16px;
    margin-bottom: var(--marginBottomBodyElements);

    @include tablet {
      --marginBottomBodyElements: 35px;
    }

    &-gradient--button {
      width: 333px;
      height: 75px;
      border-radius: var(--border-radius-button);
      font-size: 24px;
      letter-spacing: -0.48px;

      @include tablet {
        width: 223px;
        height: 50px;
        font-size: 16px;
      }
    }
  }

  &__statistics {
    &-list {
      display: flex;
      column-gap: 67px;
    }

    &-value {
      font-size: 62px;

      @include tablet {
        font-size: 40px;
      }
    }

    &-text {
      max-width: 120px;
      color: var(--color-light-gray);

      @include tablet {
        font-size: 12px;
        max-width: 85px;
      }
    }
  }

  &__wrapper {
    width: 100%;
    position: relative;
    display: inline-block;

    @include mobile {
      margin-bottom: 26px;
    }

    &::after {
      position: absolute;
      content: "";
      flex-shrink: 0;
      background: url(/images/Elements/backgorund-line1.svg) center/cover
        no-repeat;
      width: 910px;
      height: 676px;
      top: 29%;
      left: -24%;
      z-index: -1;

      @media (max-width: 1280px) {
        left: -24px;
      }

      @include mobile {
        width: 811px;
        height: 636px;
        top: 28px;
        left: -60px;
      }

      @include small-mobile {
        width: 400px;
        height: 290px;
        top: 120px;
        left: 7px;
      }
    }

    &::before {
      position: absolute;
      content: "";
      width: 324px;
      height: 324px;
      border-radius: 324px;
      background: linear-gradient(
        267deg,
        rgba(35, 114, 73, 0.55) 3.05%,
        rgba(53, 198, 107, 0.73) 40.73%
      );
      filter: blur(87.75px);
      z-index: -1;
      top: 47%;
      left: 25%;

      @include tablet {
        width: 230px;
        height: 230px;
        top: 46%;
        left: 35%;
      }

      @include mobile {
        width: 253px;
        height: 253px;
        background: linear-gradient(
          244.98deg,
          rgba(35.259639739990234, 113.67274475097656, 73.06596374511719, 0.11),
          rgba(53.062068939208984, 197.61024475097656, 107.04993438720703, 0.15)
            52%
        );
        top: 22%;
        left: 20%;
      }
    }

    &-image {
      width: 100%;
      max-width: 41vw;
      min-width: 255px;
      margin: 0 auto;

      animation: float 3s ease-in-out infinite;

      @keyframes float {
        0% {
          transform: translateY(0);
        }
        50% {
          transform: translateY(-15px);
        }
        100% {
          transform: translateY(0);
        }
      }
    }
  }
}
