.products {
  &__image {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 1;

    &::before {
      @include abs-center;
      position: absolute;
      content: "";
      z-index: -1;
      width: 145px;
      height: 145px;
      border-radius: 50%;
      background: var(
        --ккк,
        linear-gradient(
          244.98deg,
          rgba(35.26, 113.67, 73.07, 1),
          rgba(53.06, 197.61, 107.05, 1) 100%
        )
      );
    }

    @include mobile {
      &::before {
        width: 120px;
        height: 120px;
      }
    }

    &--cup {
      animation: cup-animation 1.5s ease-in-out infinite alternate;

      @keyframes cup-animation {
        from {
          rotate: 5deg;
          transform: translateY(5px);
        }
        to {
          rotate: -5deg;
          transform: translateY(-5px);
        }
      }
    }
  }

  &__title {
    @include fluid-text(32, 21);
    font-weight: 500;
    margin-bottom: 10px;
  }

  &__description {
    @include fluid-text(20, 13);
    margin-bottom: 10px;
  }

  &__price {
    @include fluid-text(32, 21);
    margin-right: 20px;
    font-weight: 500;
  }

  &__capacity {
    @include fluid-text(20, 13);
    color: var(--color-light-gray);
  }

  &__button {
    width: 186px;
    height: 54px;
    border-radius: 40px;
    margin-top: 20px;
    font-size: 17px;
    font-weight: 600;

    @include mobile {
      width: 122px;
      height: 35px;
      font-size: 11px;
    }
  }
}
